<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Login User</h1>

        <form action="/auth/Login" method="post">
            <div>
                <label>Email</label>
                <br />
                <input type="text" name="email" placeholder="Your email" /><br />
                <% if (errors.email) { %>
                <span style="color: red"><%= errors.email %></span>
                <% } %>
            </div>

            <br />

            <div>
                <label>Password</label>
                <br />
                <input type="password" name="password" placeholder="Your email" /><br />
                <% if (errors.password) { %>
                <span style="color: red"><%= errors.password %></span>
                <% } %>
            </div>

            <br />

            <div>
                <input type="submit"/>
            </div>

            <br />

            <div>
                <input type="reset"/>
            </div>
        </form>
    </body>
</html>