<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Bio :</h1>
        <div>
            <p>-----------------------------</p>
            <b>Nama : <%= user.name %></b>
            <br />
            <b>Email : <%= user.email %></b>
            <br />
            <b>Phone : <%= user.phone %></b>
        </div>

        <p>-----------------------------</p>
        <button><a href="/">Home</a></button>

    </body>
</html>