<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password</title>
  </head>

  <body>

    <h2>Reset Password :</h2>
    <form action="/resetpassword" method="POST">
      <div>
        <label>New Password </label>
        <input type="text" name="new_password" placeholder="New Password" />
      </div>

      <br />

      <div>
        <label>Confirm New Password </label>
        <input
          type="text"
          name="confirm_new_password"
          placeholder="Confirm New Password"
        />
      </div>

      <br />

      <input type="submit" />
    </form>
  </body>
</html>
